# MSR.ini for telemetry / cielometer

[Users]
#  gerrit id's, in the ${Fields:user} format
#  - used for API user forming;
#  - using "user_id" for stackalytics left us sometimes
#    unable to get the gerrit_id,
#    so now gerrit_id is used throughout API calls;
#    Therefore, the Users list should be gerrit_id's.
lianhao-lu
#steve-lewis
stevelle
#sumant-murke
sumantmurke
#yarko-tymciurak
yarkot

[Fields]
# Stackalytics
# what is summarized, made available to templates, printed
# - the left side is used in the template (for readability);
# - the right side is the corresponding field from the API;
# - general-reported item = api returned field
type = type
user = user_id
gerrit_id = gerrit_id
author_name = author_name
company = company_name
review_url = parent_url
review_number = parent_number
review_status = parent_status
subject = parent_subject
project = parent_module

[Gerrit]
# pending and open fields to use
#  will need to make review_url from this:
#  review.openstack.org/#/c/{ review_number }
review_number = _number
created = created
deleted = deleted
project = project
branch = branch
# can probably use topic to get to launchpad blueprint,
#   and eventually full spec URL
topic = topic
subject = subject
owner = owner
insertions = insertions
deletions = deletions
status = status

[Data]
# api data is stored here, by
#   {{ Data.path }}/yyyy/mm/{{ user_file_name }}
# path:  put one path per line
#   on write:  the first existing directory will be used;
#              if no directories exist, error (won't be created)
#   on read:   the path will be searched for
#              the first instance of the file
path = ./data
    ~/.config/MSR/data

[Templates]
# set the searh path;
#  default: current dir, then config area of home dir;
path = ./templates
    ~/.config/MSR/templates

# default template name
#  - which is pulled out of the Templates.path
template = msr.txt
